@import "../../index.css";

.root {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  background-color: var(--first-color-lighten);
  padding: 2rem 1rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 8px 20px rgba(35, 0, 77, 0.2);
  animation-duration: 0.4s;
  animation-name: animate-login;
}

@keyframes animate-login {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.fieldWrapper {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 0.5rem;
  padding: 1.125rem 1rem;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.button {
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  background-color: var(--first-color);
  color: #fff;
  font-weight: 600;
  text-align: center;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.socials {
  margin-top: 2rem;
}

.field {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--first-color-dark);
}

.field::placeholder {
  font-size: 16px;
  color: var(--first-color-light);
}

.socialIcon {
  font-size: 1.5rem;
  color: var(--first-color-dark);
  margin: 0 1.5rem;
}

.loginAccount {
  font-weight: 600;
  font-size: 14px;
  color: var(--first-color-dark);
}

.loginAccountRedirect {
  font-weight: 600;
  font-size: 14px;
  color: var(--first-color);
  cursor: pointer;
}
